@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+Garamond:wght@500&family=Homemade+Apple&display=swap');
/** Global style **/
:root {
  --text-font-size: 1em;

  --main-bg-color: #efefef;
  --title-font: 'Cormorant garamont medium', serif;
  --title-color: #073e4d;

  --secondary-bg-color: #466966;
  --white-color-font: #efefef;

  --tarif-color: #688282;

  --main-font: 'Amatic SC', cursive;

  --subtitle-font:'Homemade Apple',cursive;

}

body{
  overflow-x: hidden;
}

.main-font {
  font-family: var(--main-font);
}

.photos {
  position: relative;
}

.date {
  text-align: end;
}

a,
a:hover,
a:visited {
    color:var(--secondary-bg-color);
    text-decoration: none;
}

.title {
  color: var(--title-color);
  font-family: var(--title-font);
  display: block;
}

h3{
  font-size: 1em;
  font-family:var(--title-font) ;
  color:var(--tarif-color);
  margin-bottom: 10px;
  display:block;
}

h6{
  color:var(--title-color);
  font-size:0.8em;
}

.subtitle{
  font-family: var(--subtitle-font);
}

.formule,
.price,
.aside{
  height:450px;
}

.position{
  justify-content: center;
  text-align:center;
  align-items: center;
}

.price{
  background-color: var(--tarif-color);
  color:var(--white-color-font);
  font-family: var(--main-font);
  font-size: 20px;
}

.m-0{
  margin: 0px;
}

.p-0{
  padding:0;
}

.price > h4 {
font-size: 30px;
text-decoration: underline;
}

/** Header style**/

header > .navbar > nav .active {
  background-color: var(--third-bg-color);
  text-decoration: underline;
  color: var(--white-color-font);

}

header >.title > h1, p {
  font-size: 1em;
}
/** Navbar style **/

nav{
  background-color: var(--secondary-bg-color);
}

.navbar-toggler {
  margin-left: auto;
}

/** Main style **/
main{
  display: block;
  min-height: 70vh;
}

.description{
  font-family: var(--title-font);
  font-size:0.85em;
  margin-left: 0px;
  padding-left: 0px;
}

.description >h6{
  text-decoration: underline;
}

.photos{
  position:relative;
  max-width: 100%;
}

.aside{
  border: 1px solid;
  writing-mode: vertical-rl;
  font-family: var(--main-font);
  color: var(--title-color);
  font-size: 20px;
  font-weight: bold;
  word-spacing: 4px; 
}

/** Footer style **/

footer{
  display:block;
  height: 50px;
  background-color: var(--secondary-bg-color);
  color:var(--main-bg-color);
  padding-top: 10px;
}

/** Media queries **/

@media screen and (min-width: 840px){
  header> .title > h1, 
  header > .title > p ,
  h3,
  main > h1,
  main > p {
    font-size: 2em;
  }
  h6 ,
  main > .description{
    font-size:1.2em;
  }
  .aside{
    font-size: 45px;
  }

  .price,
  .formule,
  .aside{
    height: 600px;
  }
  
  .price > p{
    font-size: 1.3em;
  }

  main{
    display: block;
    min-height: 67.5vh;
  }
  .description{
    font-size: 0.95em;
  }
}

/** form style **/

form {
  max-width: 700px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

label.inline-label {
  display: inline-block;
}

fieldset {
  border: 1px solid lightgray;
  background-color: rgba(225, 233, 255, 0.25);
}

.form-input[type="text"], form select, form textarea {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
}

button[type=submit] {
  color: #efefef;
  background-color: var(--secondary-bg-color);
  padding: 10px;
  margin-top: 15px;
}